---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import BeforeAfter from "../components/BeforeAfter.astro";
import Header from "../components/Header.astro";
const PUBLIC_STRIPE_KEY = import.meta.env.PUBLIC_STRIPE_KEY;
const PUBLIC_PET_1 = import.meta.env.PUBLIC_PET_1;
const PUBLIC_PET_5 = import.meta.env.PUBLIC_PET_5;
---

<Layout title="Variety Gifts Unlimited - Unique and Fun Gifts">
	<main class="w-full full flex flex-col gap-4 items-center overflow-x-hidden">
		<div class="relative">
			<img src="/spook/bg.webp" alt="Spookify" class="w-full max-w-3xl">
			<button class="btn btn-primary rounded-[25px] px-8 absolute bottom-[10px] right-[10px]"
				onclick="document.getElementById('petImage').click()">
				<h1 class="text-2xl tracking-wide">Try Now</h1>
			</button>
		</div>

		<div class="flex flex-col items-center gap-4 text-center rounded-xl max-w-3xl">
			<h1 class="text-6xl tracking-wide text-white v-stretch mt-2">SPOOKY</h1>
			<h2 class="text-5xl font-bold tracking-wider text-primary">PET CONVERTER</h1>
			<input type="file" id="petImage" accept="image/*" hidden />
		</div>

		<div class="flex flex-col items-center text-white text-justify gap-4 px-8 text-lg max-w-3xl">
			<p>Our highly advanced digital alchemist will transform your pet into a cute Halloween version of themselves!</p>
		</div>

			<div class="carousel max-h-64 bg-primary w-full lg:max-w-3xl">
				<div class="carousel-item">
				<BeforeAfter
					imgBefore="/spook/dino.png"
					imgAfter="/spook/dino_spook.png"
					name="Dino"
				/>
			</div>
			<div class="carousel-item">
			<BeforeAfter
				imgBefore="/spook/miller.jpg"
				imgAfter="/spook/miller_spook.jpg"
				name="Miller"
			/>
			</div>
			<div class="carousel-item">
				<BeforeAfter
					imgBefore="/spook/stella.jpeg"
					imgAfter="/spook/stella_spook.jpg"
					name="Stella"
			/>
			</div>
			<div class="carousel-item">
				<BeforeAfter
					imgBefore="/spook/tanner.jpg"
					imgAfter="/spook/tanner_spook.png"
					name="Tanner"
				/>
			</div>
			<div class="carousel-item">
			<BeforeAfter
				imgBefore="/spook/tong.jpg"
				imgAfter="/spook/tong_spook.jpg"
				name="Mr. Tong"
			/>
			</div>
			<div class="carousel-item">
			<BeforeAfter
				imgBefore="/spook/jag.png"
				imgAfter="/spook/jag_spook.png"
				name="Jag"
			/>
			</div>
		</div>
		
		<div class="flex flex-col items-center gap-4 px-8 text-lg max-w-3xl">
			<h2 class="text-4xl font-bold tracking-wider text-white">Wonder What Yours Will Look Like?</h1>
			<p class="text-white">Click the button below to upload your image and get started. For best results, please include just one pet in your image.</p>
		</div>
		<button
			class="btn btn-primary rounded-[25px] px-8 mb-16"
			onclick="document.getElementById('petImage').click();"
			><h2 class="text-2xl">Upload Image</h2></button
		>

		<div class="flex flex-col items-center gap-4 w-full sm:w-1/3">
			<img
				id="thumbnail"
				src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
				class="w-full h-full object-cover border-2 border-accent rounded-full hidden"
			/>
		</div>

		<button
			id="buy-button"
			class="btn btn-secondary hidden mb-16 rounded-[25px] px-8"
			data-stripe-key={PUBLIC_STRIPE_KEY}
			data-pet1={PUBLIC_PET_1}
			data-pet5={PUBLIC_PET_5}>
			<h2 class="text-2xl">Spookify My Pet</h2>
		</button
	</main>
</Layout>

		<script>
			async function main() {
				const checkoutDiv = document.getElementById("buy-button");
				if (
					!checkoutDiv ||
					!checkoutDiv.dataset ||
					!checkoutDiv.dataset.stripeKey ||
					!checkoutDiv.dataset.pet1
				) {
					console.error(
						"You managed to break my site. Please contact Tanner.",
					);
					throw new Error(
						"You managed to break my site. Please contact Tanner.",
					);
				}
				const petImage = document.getElementById(
					"petImage",
				) as HTMLInputElement;
				const thumbnail = document.getElementById(
					"thumbnail",
				) as HTMLImageElement;
				if (petImage) {
					petImage.addEventListener("change", (e) => {
						if (!petImage.files || petImage.files.length === 0) {
							throw new Error("No file selected");
						}
						const file = petImage.files[0];
						const reader = new FileReader();
						reader.onload = (event) => {
							if (!event.target || !event.target.result) {
								throw new Error("No file selected");
							}
							thumbnail.src = event.target.result as string;
						};
						reader.readAsDataURL(file);
						document.getElementById("thumbnail")?.classList.remove("hidden");
						document.getElementById("buy-button")?.classList.remove("hidden");
					});
				}

				const genderButtons = document.querySelectorAll(
					"[data-gender]",
				) as NodeListOf<HTMLButtonElement>;
				let selectedGender = "unknown";

				genderButtons.forEach((button) => {
					button.addEventListener("click", () => {
						genderButtons.forEach((btn) =>
							btn.classList.remove("btn-active"),
						);
						button.classList.add("btn-active");
						selectedGender = button.dataset.gender as string;
					});
				});

				const buyButton = document.getElementById(
					"buy-button",
				) as HTMLButtonElement;
				if (!buyButton) {
					console.error("Buy button not found");
					throw new Error("Buy button not found");
				}
				buyButton.addEventListener("click", async () => {
					// Replace button text with loading spinner
					buyButton.innerHTML = '<p class="text-primary">Uploading<span class="loading loading-spinner loading-md"></span></p>';
					buyButton.disabled = true;  // Disable button while loading

					if (!petImage.files || petImage.files.length === 0) {
						alert("Please select an image first.");
						// Reset button if error
						buyButton.innerHTML = '<h2 class="text-2xl">Spookify My Pet</h2>';
						buyButton.disabled = false;
						throw new Error("Please select an image first.");
					}
					const thumbnailFile = petImage.files[0];

					// Create FormData and append the thumbnail file
					const formData = new FormData();
					formData.append("image", thumbnailFile);
					formData.append("gender", selectedGender);

					// Upload thumbnail image to API endpoint
					const response = await fetch(
						"https://api.varietygiftsunlimited.com/upload-img",
						{
							method: "POST",
							body: formData,
						},
					);

					if (response.ok) {
						const responseText = await response.text();
						console.log("Uploaded image successfully");
						window.location.href = `/pet-converted?success=true&image_id=${responseText}&gender=${selectedGender}`;
					} else {
						alert(
							"Failed to upload thumbnail image. Please try again.",
						);
						// Reset button if error
						buyButton.innerHTML = '<h2 class="text-2xl">Something went wrong. Try again in a bit.</h2>';
						buyButton.disabled = false;
					}
				});

				const imageId = getUrlParameter("image_id");
				if (imageId) {
					let formData = new FormData();
					formData.append("gender", getUrlParameter("gender"));
					formData.append("filename", imageId);
					var filenameResponse = await fetch(
						`https://api.varietygiftsunlimited.com/pet-converter`,
						{
							method: "POST",
							body: formData,
						},
					);
					var filename = await filenameResponse
						.text()
						.then((text) => text.replace(/^"|"$/g, ""));
					console.log(filename);
					thumbnail.src =
						"https://api.varietygiftsunlimited.com/" + filename;
				}
			}
			main();

			// Function to get URL parameters
			function getUrlParameter(name: string) {
				name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
				var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
				var results = regex.exec(location.search);
				return results === null
					? ""
					: decodeURIComponent(results[1].replace(/\+/g, " "));
			}
		</script>

		<style>
			.v-stretch {
				-webkit-transform: scale(1, 2);
				-moz-transform: scale(1, 2);
				-ms-transform: scale(1, 2);
				-o-transform: scale(1, 2);
				transform: scale(1, 2);

			}
		</style>