---
interface Props {
	img: string;
	sticker?: string;
	title: string;
	body: string;
	href: string;
}

const { img, href, title, body, sticker } = Astro.props;
---

<div class="card bg-neutral shadow-xl w-5/6 shadow-lg relative z-10">
  <a href={href}>
  <figure class="w-full">
    <img
		class="rounded-3xl bg-white m-5 w-5/6 shadow-2xl {sticker ? 'translate-x-20' : ''}"
      src={img}
      alt={title} />
	{sticker &&
    <img
		class="rounded-3xl bg-white w-5/6 shadow-2xl shadow-black transform -rotate-12"
      src={img}
      alt={title} />
	}
  </figure>
  <div class="card-body justify-end relative z-30">
    <h2 class="card-title text-base-content text-2xl lg:text-4xl mb-4 justify-center">{title}</h2>
    <div class="justify-center items-center flex">
      <button class="btn btn-primary h-fit w-full sm:w-fit sm:text-6xl py-4">View</button>
    </div>
  </div>
  </a>
</div>