---
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";

interface Props {
  title: string;
  bodyText: string;
  priceText: string;
  imageUrl: string;
  imageAlt: string;
  stripeKey: string;
  stripePaymentId: string;
  youtubeEmbedId: string;
}

const {
  title,
  bodyText,
  priceText,
  imageUrl,
  imageAlt,
  stripeKey,
  stripePaymentId,
  youtubeEmbedId,
} = Astro.props;
---

<main class="p-5 w-full flex flex-col gap-4 items-center overflow-x-hidden">
  <Hero img={imageUrl} />

  <div class="flex flex-col items-center justify-center">
    <figure class="max-w-3xl z-10"><img src={imageUrl} alt={imageAlt} /></figure>
    <p class="text-2xl font-bold text-accent pb-4">{priceText}</p>
    <button
      id="buy-button"
      data-stripe-key={stripeKey}
      data-stripe-payment-id={stripePaymentId}
      class="btn btn-primary">Get Yours Now!</button
    >
    <p class="text-sm text-base-content/70">Powered by Stripe</p>
  </div>

  { youtubeEmbedId !== "" &&
  <div class="divider my-8">Product Video</div>

    <div class="flex justify-center pb-8">
      <iframe
        width="150"
        height="300"
        src={`https://www.youtube.com/embed/${youtubeEmbedId}`}
        class="rounded-box shadow-lg"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  }
</main>
<Footer />

<script>
  import { loadStripe } from "@stripe/stripe-js";

  const buyButton = document.getElementById("buy-button");
  if (
    !buyButton ||
    !buyButton.dataset ||
    !buyButton.dataset.stripeKey ||
    !buyButton.dataset.stripePaymentId
  ) {
    console.error("You managed to break my site. Please contact the Tanner.");
    throw new Error("You managed to break my site. Please contact the Tanner.");
  }
  const stripeKey = buyButton.dataset.stripeKey;
  const stripePaymentId = buyButton.dataset.stripePaymentId;
  const stripe = await loadStripe(stripeKey);
  if (!stripe) {
    console.error("Failed to initialize Stripe.");
    throw new Error("Failed to initialize Stripe.");
  }

  buyButton.addEventListener("click", () => {
    stripe
      .redirectToCheckout({
        lineItems: [{ price: stripePaymentId, quantity: 1 }],
        mode: "payment",
        successUrl: "https://varietygiftsunlimited.com/success",
        cancelUrl: "https://varietygiftsunlimited.com/",
        shippingAddressCollection: {
          allowedCountries: ["US", "CA", "MX", "TH"],
        },
      })
      .then(function (result) {
        if (result.error) {
          alert(result.error.message);
        }
      });
  });
</script>
